@import "tailwindcss";

@theme {
  --color-my-blue: #4a69e2;
  --color-my-yellow: #ffa52f;
  --color-grey: #e7e7e3;
  --color-dark-grey: #232321;
  --color-main-grey: #70706e;
  --color-white: #fefefe;
  --color-fa-white: #fafafa;
}

@layer base {
  body {
    @apply py-8 px-4 md:px-8 lg:px-12 xl:px-16 bg-grey text-dark-grey;
  }
}

@layer components {
  .header-button {
    @apply py-2 px-6  rounded hover:bg-grey transition cursor-pointer whitespace-nowrap w-full shadow-sm;
  }

  .footer-button {
    @apply bg-black p-4 rounded-lg cursor-pointer hover:brightness-80 transition duration-500;
  }
}
